* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* layout */

#header-container {
    border: 1px solid red;
    height: 45vh;
    width: 80%;
    margin: 0 auto;
    /* background-image: url('/images/header.png'); */
    color: white;
    /* text-shadow: 1px 1px 2px #000; */
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: contrast(50%); */
}

.title-container{
    display: flex;
    justify-content: space-around;
    transform: translateY(10rem);
    
}
#search-bar{
    border: 1px solid limegreen;
    width: 70%;
    margin: 0 auto;
    transform: translateY(-.7em);
}

input {
    height: 3em;
    width: 90%;
    margin-left: 4em;
    padding-left: 4em;
}

h1, a {
    
    filter: brightness(1);
    /* border: 3px dashed salmon; */
}

h1 {
    font-size: 3rem;
}

#header-image{
    height: 100%;
    width: 100%;
    margin-top: -3.65em;
    background-image: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.9));

    /* filter: contrast() */
    
}


a {
    color: white;
    transform: translateY(1.3em);
    text-decoration: none;
    font-size: 1.2em;
}

hr{
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
    color: #E5E7EB;
}

/* buttons */
.plus-minus {
    filter: invert(100%);
    cursor: pointer;
}

#add-watchlist {
    background-color: white;
    border: 4px solid white;
}

#search-button {
    margin-left: -1em;
}